schemas/wiki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wiki">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configuracion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="proyecto" type="xs:string"/>
              <xs:element name="equipo" type="xs:string"/>
              <xs:element name="ultima_actualizacion" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modulos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modulo" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="responsable" type="xs:string"/>
                    <xs:element name="temas">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tema" maxOccurs="unbounded" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>