schemas/wiki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Elemento raíz -->
  <xs:element name="wiki">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="configuracion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="proyecto"             type="xs:string"/>
              <xs:element name="equipo"               type="xs:string"/>
              <xs:element name="ultima_actualizacion" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="modulos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modulo" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre"      type="xs:string"/>
                    <xs:element name="responsable" type="xs:string"/>
                    <xs:element name="temas">
                      <xs:complexType>
                        <xs:sequence>
                          <!-- <tema> tiene texto (nombre del tema) y atributo pdf opcional -->
                          <xs:element name="tema" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="pdf" type="xs:string" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
